*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
}
body {
  /* background: #f9f8f8; */
  background: #f3f3f3;
  min-height: 100vh;
}
#root,
.App {
  min-height: 100vh;
}
.App {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
